GOOGLE_GENAI_USE_ENTERPRISE=true
GOOGLE_CLOUD_PROJECT=my-test-project
GOOGLE_CLOUD_LOCATION=global
QUERYDATA_CONTEXTSET=projects/my-test-project/locations/us-east1/contextSets/sixrecipes
ALLOYDB_CLUSTER=alloydb-aip-01
ALLOYDB_INSTANCE=alloydb-aip-01-pr
ALLOYDB_DATABASE=quickstart_db
ALLOYDB_LOCATION=us-central1
